<mat-card>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title:</th>
                        <th>{{quiz.title}}</th>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <th>{{quiz.description}}</th>
                    </tr>
                    
                    <tr>
                        <th>Total No. of Questions</th>
                        <th>{{quiz.numberOfQuestions}}</th>
                    </tr>
                </thead>
            </table>
            <mat-card>
                <h3>Question:</h3>
                <div *ngFor="let question of questions;index as i" class="question-serction mt-4">
                    <h5>Q{{i+1}} : {{question.content}}</h5>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="question.givenAnswer">
                        <mat-radio-button [value]="question.option1"><span [ngClass]="(examDone && (question.option1==question.answer))?'correct':''">{{question.option1}}</span></mat-radio-button>
                        <mat-radio-button [value]="question.option2"><span [ngClass]="(examDone && (question.option2==question.answer))?'correct':''">{{question.option2}}</span></mat-radio-button>
                        <mat-radio-button [value]="question.option3"><span [ngClass]="(examDone && (question.option3==question.answer))?'correct':''">{{question.option3}}</span></mat-radio-button>
                        <mat-radio-button [value]="question.option4"><span [ngClass]="(examDone && (question.option4==question.answer))?'correct':''">{{question.option4}}</span></mat-radio-button>
                    </mat-radio-group>
                    <hr>
                </div>
                <button mat-flat-button (click)="submitAns()" color="warn">Submit</button>
            </mat-card>
        </div>
    </div>
</mat-card>